<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/practice">practice</a></li>

            <!-- Add other navigation links here -->
        </ul>
    </nav>
</header>
