<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dyslexia Helper</title>
</head>
<body>
  <h1>Welcome to Dyslexia Helper</h1>
  <p>This is the beginning of a great journey!</p>
</body>
</html>
